# Ignore node_modules directory
node_modules/

# Ignore any built files or directories
dist/
build/
out/

# Ignore any environment-specific files
.env

# Ignore any editor/IDE specific files
.vscode/
.idea/

# Ignore any package-lock.json or yarn.lock files
package-lock.json
yarn.lock

# Ignore any log files
*.log

# Ignore any temporary files or caches
*.tmp
*.temp
*.cache
