.accessories-wrapper {
  padding: 10px 0;
  position: sticky;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  top: 0;
}

.accessories-header {
  display: flex;
  justify-content: space-between;
  font-family: SF Pro, "Roboto";
  font-weight: 500;
  align-items: center;
  h1 {
    font-size: 1.5rem;
    font-weight: 450;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
  }
}

.accessories-header-dropdown {
  position: relative;
  margin-top: 50px;
  font-size: 0.9rem;
  font-family: SF Pro, "Roboto";
  h2 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 450;
  }
  display: flex;
  gap: 150px;
  ul {
    list-style: none;

    li {
      margin-bottom: 15px;
      font-size: 0.9rem;
      font-weight: 400;
      color: hsl(0, 0%, 20%);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: rgb(32, 86, 191);
      }
    }
  }

  .shop-by-category {
    ul {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(3, 1fr);
      column-gap: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 25%;
      height: 84%;
      width: 1px;
      background-color: hsl(0, 0%, 80%);
    }
  }
}
